<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Movie Blog</title>
  <!-- Template CSS -->
  <link rel="stylesheet" href="assets/css/style-liberty.css">
  <!-- Template CSS -->
  <link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700&display=swap" rel="stylesheet">
  <link href="//fonts.googleapis.com/css?family=Montserrat:300,300i,400,600,700,800&display=swap" rel="stylesheet">
  <!-- Template CSS -->


</head>

<body>
<script src="assets/js/monetization.js" type="text/javascript"></script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('flexbar', 'CKYI627U', 'placement:w3layoutscom');
  	}
})();
</script>
<script>
(function(){
if(typeof _bsa !== 'undefined' && _bsa) {
	// format, zoneKey, segment:value, options
	_bsa.init('fancybar', 'CKYDL2JN', 'placement:demo');
}
})();
</script>
<script>
(function(){
	if(typeof _bsa !== 'undefined' && _bsa) {
  		// format, zoneKey, segment:value, options
  		_bsa.init('stickybox', 'CKYI653J', 'placement:w3layoutscom');
  	}
})();
</script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src='https://www.googletagmanager.com/gtag/js?id=UA-149859901-1'></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-149859901-1');
</script>

<script>
     window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
     ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
     ga('require', 'eventTracker');
     ga('require', 'outboundLinkTracker');
     ga('require', 'urlChangeTracker');
     ga('send', 'pageview');
   </script>
<script async src='assets/js/autotrack.js'></script>

<meta name="robots" content="noindex">
<body><link rel="stylesheet" href="/assests/css/font-awesome.min.css">
<!-- New toolbar-->
<style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}


#w3lDemoBar.w3l-demo-bar {
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  padding: 40px 5px;
  padding-top:70px;
  margin-bottom: 70px;
  background: #0D1326;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
}

#w3lDemoBar.w3l-demo-bar a {
  display: block;
  color: #e6ebff;
  text-decoration: none;
  line-height: 24px;
  opacity: .6;
  margin-bottom: 20px;
  text-align: center;
}

#w3lDemoBar.w3l-demo-bar span.w3l-icon {
  display: block;
}

#w3lDemoBar.w3l-demo-bar a:hover {
  opacity: 1;
}

#w3lDemoBar.w3l-demo-bar .w3l-icon svg {
  color: #e6ebff;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons {
  margin-top: 30px;
  border-top: 1px solid #41414d;
  padding-top: 40px;
}
#w3lDemoBar.w3l-demo-bar .demo-btns {
  border-top: 1px solid #41414d;
  padding-top: 30px;
}
#w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
  font-size: 26px;
}
#w3lDemoBar.w3l-demo-bar .no-margin-bottom{
  margin-bottom:0;
}
.toggle-right-sidebar span {
  background: #0D1326;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #e6ebff;
  border-radius: 50px;
  font-size: 26px;
  cursor: pointer;
  opacity: .5;
}
.pull-right {
  float: right;
  position: fixed;
  right: 0px;
  top: 70px;
  width: 90px;
  z-index: 99999;
  text-align: center;
}
/* ============================================================
RIGHT SIDEBAR SECTION
============================================================ */

#right-sidebar {
  width: 90px;
  position: fixed;
  height: 100%;
  z-index: 1000;
  right: 0px;
  top: 0;
  margin-top: 60px;
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  overflow-y: auto;
}


/* ============================================================
RIGHT SIDEBAR TOGGLE SECTION
============================================================ */

.hide-right-bar-notifications {
  margin-right: -300px !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}



@media (max-width: 992px) {
  #w3lDemoBar.w3l-demo-bar a.desktop-mode{
      display: none;

  }
}
@media (max-width: 767px) {
  #w3lDemoBar.w3l-demo-bar a.tablet-mode{
      display: none;

  }
}
@media (max-width: 568px) {
  #w3lDemoBar.w3l-demo-bar a.mobile-mode{
      display: none;
  }
  #w3lDemoBar.w3l-demo-bar .responsive-icons {
      margin-top: 0px;
      border-top: none;
      padding-top: 0px;
  }
  #right-sidebar,.pull-right {
      width: 90px;
  }
  #w3lDemoBar.w3l-demo-bar .no-margin-bottom-mobile{
      margin-bottom: 0;
  }
}
</style>
<div class="pull-right toggle-right-sidebar">
<span class="fa title-open-right-sidebar tooltipstered fa-angle-double-right"></span>
</div>

<div id="right-sidebar" class="right-sidebar-notifcations nav-collapse">
<div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">

    <div id="w3lDemoBar" class="w3l-demo-bar">
        <div class="demo-btns">
        <a href="https://w3layouts.com/?p=43224">
            <span class="w3l-icon -back">
                <span class="fa fa-arrow-left"></span>
            </span>
            <span class="w3l-text">Back</span>
        </a>
        <a href="https://w3layouts.com/?p=43224">
            <span class="w3l-icon -download">
                <span class="fa fa-download"></span>
            </span>
            <span class="w3l-text">Download</span>
        </a>
        <a href="https://w3layouts.com/checkout/?add-to-cart=43224" class="no-margin-bottom-mobile">
            <span class="w3l-icon -buy">
                <span class="fa fa-shopping-cart"></span>
            </span>
            <span class="w3l-text">Buy</span>
        </a>
    </div>
        <!---<div class="responsive-icons">
            <a href="#url" class="desktop-mode">
                <span class="w3l-icon -desktop">
                    <span class="fa fa-desktop"></span>
                </span>
            </a>
            <a href="#url" class="tablet-mode">
                <span class="w3l-icon -tablet">
                    <span class="fa fa-tablet"></span>
                </span>
            </a>
            <a href="#url" class="mobile-mode no-margin-bottom">
                <span class="w3l-icon -mobile">
                    <span class="fa fa-mobile"></span>
                </span>
            </a>
        </div>-->
    </div>
    <div class="right-sidebar-panel-content animated fadeInRight" tabindex="5003"
        style="overflow: hidden; outline: none;">
    </div>
</div>
</div>
</div>

<!-- Headers-4 block -->
<section class="w3l-header-6-main mobile-header">
    <div class="header-section-hny">
        <div class="header-top header-part-2">
            <div class="container">
                <!-- /header-top-inn-->
                <div class="header-inn-top">
                    <div class="logo-brand text-center">
                        <a class="nav-brand" href="index.html">
                            <img src="assets/images/logo2.png" alt="" title="Webzine" style="max-height:40px;width:auto;" />
                        </a>
                    </div>

                </div>
                <!-- //header-top-inn-->
            </div>
        </div>
        <header class="header-hny-block">
            <div class="container">
                <!-- /.nav-collapse -->
                <nav class="navbar navbar-expand-lg navbar-light">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-lg-auto">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="index.html">Home</a>
                                    <a class="dropdown-item" href="home-1.html">Home V1</a>
                                    <a class="dropdown-item" href="home-2.html">Home V2</a>
                                    <a class="dropdown-item" href="lifestyle.html">Home V3</a>
                                    <a class="dropdown-item" href="author.html">Author</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="lifestyle.html">Lifestyle</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="culture.html">Culture</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="food.html">Food</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="food.html">Food</a>
                                    <a class="dropdown-item" href="team.html">Authors</a>
                                    <a class="dropdown-item" href="blog.html">Blog Post</a>
                                    <a class="dropdown-item" href="blog-single.html">Blog Details</a>
                                    <a class="dropdown-item" href="contact.html">Contact Us</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul>
                     
                            <div class="life-style-right">
                                <div class="menu-overlay-left">
                                    <div class="two-pops part2-top d-flex">
                                        <a href="login.html" class="author-user"><span class="fa fa-user"
                                                aria-hidden="true"></span></a>
                                        <!-- overlay-menuv-menu -->
                                        <div class="overlay-menuv-hny">
                                            <input type="checkbox" id="op"></input>
                                            <div class="side-menu-hny">
                                                <label for="op" class="menuopen">
                                                    <span class="fa fa-bars" aria-hidden="true"></span></label>
                                            </div>
                                            <div class="overlay-menuv overlay-menuv-hugeinc">
                                                <label for="op" class="menuclose"><span class="fa fa-times"
                                                        aria-hidden="true"></span></label>
                                                <div class="side-show-content text-left">

                                                    <div class="quick-links-side gap-top">
                                                        <h3 class="side-title">About Webzine</h3>
                                                        <p> Lorem ipsum dolor sit amet, adipi scingelit. Vestibulum orci
                                                            justo, vehicula vel sapien sit amet.
                                                        </p>

                                                    </div>

                                                    <div class="quick-links-side gap-top">
                                                        <h3 class="side-title">Top Authors</h3>
                                                        <ul>
                                                            <li><a href="#">John Smith</a></li>
                                                            <li><a href="#">Jackson</a></li>
                                                            <li><a href="#">Lucas Smith</a></li>
                                                            <li><a href="#">Daniel Doe</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="quick-links-side gap-top">
                                                        <h3 class="side-title">Categories</h3>
                                                        <ul>
                                                            <li><a href="index.html">Home</a></li>
                                                            <li><a href="lifestyle.html">Lifestyle</a></li>
                                                            <li><a href="contact.html">Contact Us</a></li>
                                                            <li><a href="author.html">Author</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="quick-links-side follow-us gap-top">
                                                        <h3 class="side-title">Follow Us</h3>
                                                        <ul class="social-icons-top">
                                                            <li><a class="facebook" href="#"><span
                                                                        class="fa fa-facebook"
                                                                        aria-hidden="true"></span></a>
                                                            </li>
                                                            <li><a class="twitter" href="#"><span class="fa fa-twitter"
                                                                        aria-hidden="true"></span></a></li>
                                                            <li><a class="google" href="#"><span
                                                                        class="fa fa-google-plus"
                                                                        aria-hidden="true"></span></a>
                                                            </li>
                                                            <li><a class="instagram" href="#"><span
                                                                        class="fa fa-instagram"
                                                                        aria-hidden="true"></span></a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                        <div class="search-right search-header-2">

                                            <a href="#search" title="search"><span class="fa fa-search"
                                                    aria-hidden="true"></span></a>
                                            <!-- search popup -->


                                            <div id="search" class="pop-overlay">
                                                <div class="popup">

                                                    <form action="#" method="post" class="search-box">
                                                        <input type="search" placeholder="Keyword" name="search"
                                                            required="required" autofocus="">
                                                        <button type="submit" class="btn mt-3">Search</button>
                                                    </form>

                                                </div>

                                                <a class="close" href="#">×</a>
                                            </div>
                                            <!-- /search popup -->
                                        </div>
                                    </div>
                                    <!-- overlay-menuv-menu -->
                                </div>
                            </div>
                        
                    </div>
                </nav>
                <!-- /.nav-collapse -->
            </div>

        </header>
    </div>

</section>
<section class="w3l-mag-main blog-post-main">
	<!--/mag-post-->
	<div class="blog-post-imghny">

	</div>
	<!--/mag-post-->
	<!--/mag-content-->
	<div class="mag-content-inf py-5">
		<div class="container">
				<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

						<!---728x90--->

						
						</div>
						
			<div class="blog-inner-grids py-md-4 row">
				<div class="mag-post-right-hny col-lg-4">
					<aside>
						<div class="side-bar-hny-recent mt-lg-0 mt-5">
							<h4 class="mag-side-title">Must <span>Read</span></h4>
							<div class="mag-small-post">
								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="#"><img src="assets/images/m1.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="#">Group of women dancing on stage</a> </h4>

										<div class="mag-post-meta"><span class="meta-author"><span>By&nbsp;</span><a
													href="#" class="author-name">John Brain</a> </span>
											<span class="author-date">Jan 5, 2020</span>
										</div>
									</div>
								</div>



								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="#"><img src="assets/images/m2.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="#">Photo of man wearing astronaut suit hanging near cameras</a>
										</h4>

										<div class="mag-post-meta"><span class="meta-author"><span>By&nbsp;</span><a
													href="#" class="author-name">John Brain</a> </span>
											<span class="author-date">Jan 5, 2020</span>
										</div>
									</div>
								</div>



								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="#"><img src="assets/images/m3.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="#">Pancake with chocolate syrup on ceramic plate</a> </h4>


										<div class="mag-post-meta"><span class="meta-author"><span>By&nbsp;</span><a
													href="#" class="author-name">John Brain</a> </span>
											<span class="author-date">Jan 5, 2020</span>
										</div>
									</div>
								</div>



								<div class="post-item-grid row mb-4">
									<div class="mag-post-thumb col-4">
										<a href="#"><img src="assets/images/m4.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-8">
										<h4 class="mag-post-title">
											<a href="#">White and pink petaled flowers on metal fence near
												concrete</a>
										</h4>


										<div class="mag-post-meta"><span class="meta-author"><span>By&nbsp;</span><a
													href="#" class="author-name">John Brain</a> </span>
											<span class="author-date">Jan 5, 2020</span>
										</div>
									</div>
								</div>



							</div>

						</div>
						<div class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title">Latest <span>Videos</span></h4>
							<div class="mag-small-post">
								<div class="post-video-grid">
									<div class="video-content mb-3">
										<a href="#notify" class="play-button btn"><span class="fa fa-play"
												aria-hidden="true">

											</span></a>

										<!-- notify-popup-->
										<div id="notify" class="notify-pop-overlay">
											<div class="notify-popup">
												<h5>Watch Our Video</h5>
												<iframe src="https://player.vimeo.com/video/156953364" frameborder="0"
													allow="autoplay; fullscreen" allowfullscreen></iframe>
												<a class="close" href="#coming-s">&times;</a>
											</div>
										</div>
										<!-- //notify-popup -->
									</div>
									<h4 class="mag-post-title">
										<a href="#">A New Report Shows That Fashion Ads Are Still Overwhelmingly
											White
											Dresses</a> </h4>
								</div>
								<div class="post-video-grid mt-5 mb-lg-5">
									<div class="video-content video-content2 mb-3">
										<a href="#notify1" class="play-button btn"><span class="fa fa-play"
												aria-hidden="true">

											</span></a>

										<!-- notify-popup-->
										<div id="notify1" class="notify-pop-overlay">
											<div class="notify-popup">
												<h5>Watch Our Video</h5>
												<iframe src="https://player.vimeo.com/video/42638891" frameborder="0"
													allow="autoplay; fullscreen" allowfullscreen></iframe>
												<a class="close" href="#coming-s">&times;</a>
											</div>
										</div>
										<!-- //notify-popup -->
									</div>
									<h4 class="mag-post-title">
										<a href="#">Penguins on snow covered gound,Looking Awesome to see</a> </h4>
								</div>
							</div>
						</div>

						<div class="side-bar-hny-recent mb-5">
							<h4 class="mag-side-title">Recent <span>Comments</span></h4>
							<div class="mag-small-post">
								<div class="post-item-grid row mb-3">
									<div class="mag-post-thumb-img col-3">
										<a href="#"><img src="assets/images/admin.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate mb-2">
											<a href="#">Anna Delpan</a> </h4>

										<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit.</p>
									</div>
								</div>



								<div class="post-item-grid row mb-3">
									<div class="mag-post-thumb-img col-3">
										<a href="#"><img src="assets/images/t2.jpg" class="img-fluid" alt=""></a>

									</div>
									<div class="mag-post-details col-9">
										<h4 class="mag-post-cate mb-2">
											<a href="#"> Daniel Doe</a>
										</h4>
										<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit.</p>

									</div>
								</div>

							</div>
						</div>
						<div class="side-bar-hny-recent mb-5">
							<div class="mag-small-post">
								<div class="mag-add-post">
									<a href="#"><img src="assets/images/add1.jpg" alt="" class="img-fluid"></a>
								</div>
							</div>
						</div>

					</aside>
				</div>
				<div class="mag-post-left-hny col-lg-8">
					<div class="mag-post-breadcrumb">
						<!--/breadcrumb-->
						<nav aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Home</a></li>
								<li class="breadcrumb-item"><a href="#">Pages</a></li>
								<li class="breadcrumb-item active" aria-current="page">Blog Details</li>
							</ol>
						</nav>
					</div>
					<!--//breadcrumb-->
					<div class="mag-hny-content">
						<!--/set-1-->
						<div class="blog-pt-grid-content">
							<div class="maghny-gd-1 blog-pt-grid mb-5">
								<h5 class="blog-title mb-3"><a href="#">Unique Pack of Magazine News for Your
										Website,There are many variations that focuses on presenting.</a></h5>
								<div class="mag-post-meta my-3"><a href="#"><img src="assets/images/admin.jpg"
											class="img-fluid admin-img-blog" alt=""></a> <span
										class="meta-author text-uppercase"><span>By&nbsp;</span><a href="#"
											class="author-name">
											John
											Brain</a> </span>
									<span class="author-date">Jan 5, 2020</span>
									<span class="author-comments">No-comments</span>
								</div>
								<!--/social-icons-->
								<div class="post-social-box mb-5">
									<a href="#" class="facebook-post">
										<span class="fa fa-facebook" aria-hidden="true"></span>
										<span class="social_info_name">Facebook</span>
									</a>
									<a href="#" class="twitter-post">
										<span class="fa fa-twitter" aria-hidden="true"></span>
										<span class="social_info_name">Facebook</span>
									</a>
									<a href="#" class="google-post">
										<span class="fa fa-google" aria-hidden="true"></span>
									</a>
								</div>
								<!--//social-icons-->
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="assets/images/author2.jpg" alt="">
										<figcaption>


										</figcaption>
									</figure>
								</div>
							</div>
							<!--//set-1-->
							<!--/post-details-sec-->
							<div class="post-details-sec mb-5">
								<p> <span class="w-cap">M</span> Vivamus a ligula quam. Ut blandit eu leo non suscipit.
									Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum
									ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
									venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,
									mattis venenatis lectus.</p>
							</div>
							<!--//post-details-sec-->
							<!--/post-details-sec-->
							<div class="post-des-sec mb-5">
								<h4 class="post-title-single">
									The following amet facilis, eius, omnis quis maiores blanditiis dolores laboriosam
									dignissimos magni.
								</h4>
								<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. In interdum ullamcorper dolor
									eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In
									interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis
									lectus. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
									interdum ullamcorper dolor eu mattis.Nulla quis lorem neque</p>
							</div>
							<!--//post-details-sec-->
							<div class="post-des-sec mb-5">
								<blockquote>
									<p class="post-title">
										Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus.<a
											href="#" class="use-admin">Anna Delpan</a> a ligula quam. Ut blandit eu leo
										non suscipit
									</p>
								</blockquote>
								<p class="pl-lg-5">Vivamus a ligula quam. Ut blandit eu leo non suscipit. Duis feugiat
									tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
									dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis
									lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque..</p>
							</div>

							<!--/post-details-sec1-->
							<div class="post-content-grid row">
								<div class="post-content-left col-lg-6">
									<p class="spl-parhny">In interdum ullamcorper dolor eu mattis.Nulla quis lorem
										neque, mattis venenatis lectus mattis venenatis lectus. In interdum ullamcorper
										dolor eu mattis.Nulla quis lorem neque</p>
									<h6 class="adm-1"><strong><a href="#">Anna Delpan</a></strong></h6>
								</div>
								<div class="post-content-right col-lg-6">
									<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. In interdum ullamcorper
										dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis
										lectus. </p>
									<p> Ut blandit eu leo non suscipit. In interdum ullamcorper dolor eu mattis.Nulla
										quis lorem neque,Nulla quis lorem neque. </p>
								</div>
								<p class="pl-lg-5 para-post-hny-blog">Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis
									lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a
									ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis
									lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla
									quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
									ullamcorper dolor eu mattis.Nulla quis lorem neque..</p>
								<p class="pl-lg-5 para-post-hny-blog">Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis
									lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a
									ligula quam. Ut blandit eu leo non suscipit. Duis feugiat tortor sed.Nulla quis
									lorem neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla
									quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
									ullamcorper dolor eu mattis.Nulla quis lorem neque..</p>
							</div>
							<!--//post-details-sec1-->
						</div>

						<div class="sing-post-thumb mt-3">
							<a href="#"><img src="assets/images/author1.jpg" class="img-fluid" alt=""></a>

						</div>
						<div class="align-text15-cols mb-4">
							<div class="text15-left">
								<h6>The following amet facilis, eius, omnis quis maiores blanditiis dolores laboriosam
									dignissimos magni.</h6>
								<div class="text15-list">
									<li>Expedita fugit</li>
									<li>Omnis quis maiores blanditiis</li>
									<li>Iure laboriosam quas</li>
									<li>Sequi atque, voluptates ipsum minima</li>
									<li>Fugit ratione impedit ullam sit</li>
									<li>Accusantium eos</li>
									<li>Fugit ratione impedit ullam</li>
								</div>
							</div>

						</div>
						<!--//blog-post-->
						<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. <a href="#" class="use-admin">Anna
								Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis
							lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a> In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis lectus. Duis
							feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
							dolor eu mattis.Nulla quis lorem neque</p>
					</div>


					<!--/post-details-sec1-->
					<div class="post-content-grid-text my-5">
						<h4 class="post-title-single mb-4">
							1.The following amet facilis, eius, omnis quis maiores blanditiis dolores laboriosam
							dignissimos magni.
						</h4>
						<div class="alignright-hny"><a href="#"><img src="assets/images/grid7.jpg" class="img-fluid"
									alt=""></a></div>
						<p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
							ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit eu leo
							non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
							venenatis lectus .</p>
						<p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
							ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit eu leo
							non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
							venenatis lectus</p>
						<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. <a href="#" class="use-admin">Anna
								Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis
							lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a> In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis lectus. Duis
							feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
							dolor eu mattis.Nulla quis lorem neque</p>
						<div class="clearfix"></div>
					</div>
					<!--//post-details-sec1-->
					<!--/post-details-sec1-->
					<div class="post-content-grid-text">
						<h4 class="post-title-single mb-4">
							2.The following amet facilis, eius, omnis quis maiores blanditiis dolores laboriosam
							dignissimos magni.
						</h4>
						<div class="alignleft-hny"><a href="#"><img src="assets/images/grid8.jpg" class="img-fluid"
									alt=""></a></div>
						<p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
							ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit eu leo
							non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
							venenatis lectus .</p>
						<p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
							ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit eu leo
							non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
							venenatis lectus</p>
						<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. <a href="#" class="use-admin">Anna
								Delpan</a> In interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis
							lorem neque, mattis venenatis lectus.<a href="#" class="use-admin"> Delpan Deo</a> In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis lectus. Duis
							feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum ullamcorper
							dolor eu mattis.Nulla quis lorem neque</p>
						<div class="clearfix"></div>
					</div>
					<!--//post-details-sec1-->
					<div class="post-content-admin-quote my-5">
						<blockquote class="quote-dark mb-3"><span class="fa fa-quote-left mb-3"
								aria-hidden="true"></span>
							<p>Vivamus a ligula quam. Ut blandit eu leo non suscipit. In interdum ullamcorper dolor eu
								mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In
								interdum ullamcorper dolor eu mattis.Nulla quis lorem neque, mattis venenatis lectus.
								Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In interdum
								ullamcorper dolor eu mattis.Nulla quis lorem neque.</p>
							<a href="#" class="use-admin2"> Delpan Deo</a>
						</blockquote>
						<p>Nulla quis lorem neque,Nulla quis lorem neque, mattis venenatis lectus. In interdum
							ullamcorper dolor eu mattis.Nulla quis lorem nequeVivamus a ligula quam. Ut blandit eu leo
							non suscipit. Duis feugiat tortor sed.Nulla quis lorem neque, mattis venenatis lectus. In
							interdum ullamcorper dolor eu mattis.Nulla quis lorem neque,Nulla quis lorem neque, mattis
							venenatis lectus .</p>
					</div>

					<!--/admin-->
					<div class="row author-listhny">
						<div class="author-left col-3">
							<a href="team-single.html">

								<img class="img-fluid" src="assets/images/t1.jpg" alt=" ">

							</a>
						</div>
						<div class="author-right col-9 pr-lg-0">
							<h4><a href="team-single.html" class="title-team-28">William Doe</a></h4>

							<p class="para-team">Vivamus a ligula quam. Ut blandit eu leo non suscipit.Nulla quis lorem
								neque, mattis venenatis lectus. In interdum ullamcorper dolor eu mattis.Nulla quis lorem
								neque, mattis venenatis lectus.</p>
							<div class="buttons-teams">
								<a href="#team" class="facebook"><span class="fa fa-facebook"></span></a>
								<a href="#team" class="twitter"><span class="fa fa-twitter"></span></a>
								<a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								<a href="#pinterest" class="pinterest"><span class="fa fa-pinterest"></span></a>
								<a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
								<a href="#vk" class="vk"><span class="fa fa-vk"></span></a>
							</div>

						</div>

					</div>
					<!--//admin-->
					<!--//admin-->
					<nav class="post-navigation row mt-5">
						<div class="post-prev col-lg-6">
							<span class="nav-title">
								Prev Post </span>
							<a href="#" rel="prev">
								<h5>There are many variations that focuses on presenting <em>William Doe’s</em> New and Special</h5>
							</a> 
					    </div>
						<div class="post-next col-lg-6 text-lg-right">
							<span class="nav-title">
								Next Post </span>
							<a href="#" rel="next">
								<h5>There are many variations that focuses on presenting <em>William Doe’s</em>New and Special</h5>
							</a>
						</div>
					</nav>
					<!--//admin-->
					<div class="mag-hny-content my-lg-5 mt-5">
						<h3 class="hny-title">Related <span>Posts</span></h3>
						<div class="ban-content-inf row py-lg-3">
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="assets/images/grid19.jpg" alt="">
										<figcaption>


										</figcaption>
									</figure>
								</div>
								<h5 class="top-title mb-3"><a href="#">There are
										many variations that focuses on presenting</a></h5>

							</div>
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="assets/images/grid14.jpg" alt="">
										<figcaption>


										</figcaption>
									</figure>
								</div>
								<h5 class="top-title mb-3"><a href="#">There are
										many variations that focuses on presenting</a></h5>

							</div>
							<div class="maghny-gd-1 col-lg-4 col-md-6">
								<div class="maghny-grid">
									<figure class="effect-lily">
										<img class="img-fluid" src="assets/images/grid16.jpg" alt="">
										<figcaption>


										</figcaption>
									</figure>
								</div>
								<h5 class="top-title mb-3"><a href="#">There are
										many variations that focuses on presenting</a></h5>

							</div>
						</div>
					</div>
					<!--/leave-->
					<div class="leave-comment-form" id="comment">
						<h3 class="hny-title mb-0">Leave a <span>Reply</span></h3>
						<p class="mb-4">Your email address will not be published. Required fields are marked *</p>
						<form action="#" method="post">
							<div class="form-group">
								<label>Comment</label>
								<textarea name="Comment" class="form-control" placeholder="Your Comment" required=""
									spellcheck="false"></textarea>
							</div>
							<div class="input-grids row">

								<div class="form-group col-lg-6">
									<label>Name *</label>
									<input type="text" name="Name" class="form-control" placeholder="Your Name"
										required="">
								</div>
								<div class="form-group col-lg-6">
									<label>Email *</label>
									<input type="email" name="Email" class="form-control" placeholder="Email"
										required="">
								</div>
							</div>
							<div class="form-group">
								<label>Website</label>
								<input type="text" name="Email" class="form-control" placeholder="URL" required="">
							</div>
							<div class="form-input">
								<label class="container">
									<p>Save my name, email, and website in this browser for the next time I comment.</p>
									<input type="checkbox">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="submit text-right mt-5">
								<button class="btn btn-primary">Post Comment
								</button></div>
						</form>
					</div>
					<!--//leave-->
					<!--//mag-hny-content-4-->
				</div>


			</div>
			<div class="display-ad" style="margin: 8px auto; display: block; text-align:center;">

					<!---728x90--->
					
					</div>
					
		</div>
	</div>
	<!--//mag-content-->

</section>
<!-- footer-66 -->
<footer class="w3l-footer-66">
    <section class="footer-inner-main py-md-5 py-5">
        <div class="container">
            <div class="footer-top row">
                <div class="sub-one-left col-lg-4 col-md-6">
                    <h6>About Webzine</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris.</p>
                    <div class="columns-2">
                        <ul class="social-footer">
                            <li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
                            </li>
                            <li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="sub-two-right col-lg-4 col-md-6 my-md-0 my-5">
                    <h6>Editor Pics</h6>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="assets/images/m4.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="assets/images/m1.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>
                    <div class="row editor-pics mb-3">
                        <div class="col-3 item-pic">
                            <img src="assets/images/m3.jpg" class="img-fluid" alt="">

                        </div>
                        <div class="col-9 item-details">
                            <a href="#">
                                <h5 class="inner">More Than 120 ER Visits Linked To Synthetic WordPress In
                                    NYC...</h5>
                            </a>
                            <div class="td-post-date">Jan 22, 2019</div>
                        </div>

                    </div>

                </div>

                <div class="sub-one-left col-lg-4 col-md-6 mt-lg-0 mt-md-5">
                    <h6>Information</h6>
                    <div class="columns-2 d-flex">
                        <ul class="footer-sub-gd mr-5">
                            <li><a href="culture.html">Celebrities</a></li>
                            <li><a href="culture.html">Fashion</a></li>
                            <li><a href="lifestyle.html">Lifestyle</a></li>
                            <li><a href="blog.html">Blog Page</a></li>
                        </ul>
                        <ul class="footer-sub-gd">
                            <li><a href="login.html">Login</a></li>
                            <li><a href="signup.html">Signup</a></li>
                            <li><a href="author.html">Author</a></li>
                            <li><a href="blog-single.html">Comments</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="below-section">
        <div class="container">
            <div class="copyright-footer text-center">

                <p>© 2020 Webzine. All rights reserved. Design by <a href="https://w3layouts.com/" target="_blank">
                        W3Layouts</a>
                </p>
            </div>
        </div>
        <!-- move top -->
        <button onclick="topFunction()" id="movetop" title="Go to top">
            <span class="fa fa-arrow-up" aria-hidden="true"></span>
        </button>
        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function () {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
        </script>
        <!-- /move top -->
    </div>
    <!-- copyright -->



</footer>
<!--//footer-66 -->


<div id = "v-w3layouts"></div><script>(function(v,d,o,ai){ai=d.createElement('script');ai.defer=true;ai.async=true;ai.src=v.location.protocol+o;d.head.appendChild(ai);})(window, document, '//a.vdo.ai/core/v-w3layouts/vdo.ai.js');</script>
	</body>

</html>
<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>