{% extends "adminhead.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<!--grid-->
<div class="row">
    
<div class="col-md-12 bg-info">
    
 <h3 class="text-primary col-md-12" style="text-align: center;">Release New Movie</h3>
 <div class="col-md-1"></div>
   <div class="col-md-10 ">
    <form class="form-horizontal" enctype="multipart/form-data" method="post" action="{% url 'newpost' %}">
        {% csrf_token %}
        <div class="tab-pane active" id="horizontal-form" style="margin-bottom: 5px;">
                   
        <table class="table table-responsive">
                <tr>
                    <td colspan="4">Movie Title</td>
                    </tr><tr>
                    <td colspan="4"><input class="form-control" type="text" name="t1" required placeholder="Movie Title"/></td>
                </tr>
           
                <tr>
                    <td colspan="4">Movie Description</td>
                </tr><tr>
                    <td colspan="4"><textarea class="form-control"  name="t2" required placeholder="Description" rows="4"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2">Language</td>
                    <td colspan="2">Production</td>
                </tr>
                <tr>
                    <td colspan="2"><Select name="t3" required class="form-control">
                        <option value="" > - Select - </option>
                        <option>Malayalam</option>
                        <option>English</option>
                        <option>Hindi</option>
                        <option>Tamil</option>
                    </Select></td>
                    <td colspan="2"><Select name="t4" required class="form-control" >
                        <option value=""> - select - </option>
                        {% for datas in datap %}
                        <option value="{{datas.production_id}}"> {{datas.banner_name}} </option>
                        {% endfor %}
                    </Select></td>
                </tr>
                <tr>
                    <td colspan="2">Movie poster</td>
                    <td colspan="2">Movie Category</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="file" name="t5" required class="form-control"></td>
                    <td colspan="2">
                        <input type="hidden" name="tc" value="{{cc}}"/>
                        {% for datas in datac %}
                        <input type="checkbox" name="t6" id="ck{{forloop.counter}}" value="{{datas.category_id}}"/> {{datas.category_name}}  
                        {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td colspan="2">Release Date</td>
                    <td colspan="2">Movie Status</td>
                </tr>
                <tr>
                    <td colspan="2"><input type="date" name="t7" required class="form-control"></td>
                    <td colspan="2"><input type="text" name="t8" required class="form-control"></td>
                </tr>
        </table>
</div>
        <div class="" style="margin-bottom: 10px;">
            <div class="row">
            
            <div class="col-sm-8 col-sm-offset-2 " align="center">
                <button class="btn-success btn" type="submit" name="submit">Add</button>
                <input type="reset" value="Reset" class=" btn btn-warning"/>
                
            </div>
            </div>
            </div>
  </form>
  </div>
  </div>
  </div>
  <style>
    table th, table td {
    padding: 9px 7px;
    text-align: left;
    }
    </style>

{% endblock %}